@page "/Medidores/delete/{Id_Medidor:int}"

<PageTitle>Borra Medidor [@medidor?.Id_Medidor]?</PageTitle>
<h1>Estas seguro que quieres eliminar este registro "@medidor?.Marca"?</h1>

<button type="submit" class="btn btn-primary" @onclick="Delete">
            Eliminar
        </button>
        <a href="/Medidores" class="btn btn-danger"> Cancelar</a>

@using ProyectWaterUi.Data.Models;
@using System.Net.Http;
@using System.Net.Http.Json;
@inject HttpClient http
@inject NavigationManager NavigationManager

@code{
    [Parameter]
    public int Id_Medidor {get; set;} = 0;

    Medidor? medidor;

     protected override async Task OnInitializedAsync(){
       medidor = await http.GetFromJsonAsync<Medidor>(requestUri: $"/api/Medidor/{Id_Medidor}");
    }
    private async Task Delete(){
        
        var response = await http.DeleteAsync(requestUri: $"/api/Medidor/{Id_Medidor}");
        
         if(response.IsSuccessStatusCode){
            NavigationManager.NavigateTo("/Medidores");
         }
    }
}
